.logo>h1 {
    line-height: 1.0em;
    padding-left: 2em;
}

.logo {
    background-size: 3em;
}

body {
    padding-bottom: 0px;
    background-color: #000018;
}

.navbar-inverse {
    background-color: #000018;
    border-color: #000018;
}

#local-search-input {
    background-color: #000018;
}

.navbar-fixed-top {
    top: 10px;
}

pre, .highlight, .gist {
    border-radius: 6px !important;
}

.article-footer-copyright {
    border-radius: 6px;
}

.navbar-inverse .navbar-nav>li>a {
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
